parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixture
    ignoreErrors:
        # Rector uses dynamic analysis
        - '#Call to an undefined method PhpParser\\Node::#'
